.container {
  display: flex;
  background-color: white;
  height: 110px;
}

.container button {
  font-family: "Roboto Condensed", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 110px;
}

.hoverButton {
  position: relative;
  overflow: hidden;
  background-color: white !important;
  border-radius: none;
}

.hoverButton:hover {
  color: red !important;
  border-top: 5px solid #ff0004;
}
